@model Diamond.Models.ProductSpecific
@{
    ViewData["Title"] = $"Добавление разновидности для \"{Model.ProductGroup.Name}\"";
}

<form method="post">
    <input type="submit" value="Добавить"/>
    <input type="number" asp-for="@Model.ProductGroupId" value="@Model.ProductGroup.Id" hidden />
    <p>Размер (гр.)<input asp-for="@Model.Size" type="number" required/></p>
    <p>Цена (руб.)<input asp-for="@Model.Price" type="number" required/></p>
</form>