@model Diamond.Models.ProductGroup
@{
    ViewData["Title"] = "Добавление группы продукции";
}

<form method="post">
    <input type="submit" value="Добавить"/>
    <p>Название<input asp-for="@Model.Name" type="text" required/></p>
    <p>На каком сырье производится<select asp-for="@Model.MaterialId" asp-items="@(new SelectList((List<Material>)ViewBag.materials, "Id", "Name"))" required></select></p>
</form>