@using Diamond.Models.Materials
@model Material
@{
    ViewData["Title"] = "Добавление сырья";
}

<form>
    <div>
        <input type="submit" asp-controller="Material" asp-action="List" value="Назад" formnovalidate />
        <input type="submit" value="Добавить" asp-controller="Material" asp-action="Add" asp-route-material="@Model" />
    </div>
    <p>Название<input asp-for="Name" type="text" required/></p>
</form>