@using Diamond.Models.Factory
@model Factory
@{
    ViewData["Title"] = "Добавление завода";
}

<form action="/Factory/Add">
    <input type="submit" value="Добавить"/>
    <p>Название завода<input name="Name" required></p>
</form>