@model Factory
@{
    ViewData["Title"] = "Добавление фабрики";
}

<form action="/Factory/Add">
    <input type="submit" value="Добавить"/>
    <p>Название завода<input name="Name" required></p>
</form>